html(ng-app="app")
  head
    title= 'Testing site'
    script(src='/angular/angular.min.js')
    script(src='/chart.js/dist/Chart.min.js')
    script(src='/angular-chart.js/dist/angular-chart.min.js')
    script(src='/app/app.js')
    link(rel="stylesheet", ype="text/css", href='/bootstrap/dist/css/bootstrap.min.css')
  body(class="container-fluid", ng-controller="TestsController")
   div(class="row", ng-init="init()")
    h1="Testing Enviroment"
    div(class="col-xs-4")
     table(class="table table-striped")
      caption="List of Tests"
      tr
       th="Name"
       th="Action"
      tr(ng-repeat="test in tests")
       td {{test}}
       td
        button(class="btn btn-success", ng-disabled="shownTests.indexOf(test) >= 0", ng-click="getStats(test)")
         i(class="glyphicon glyphicon-plus")
        button(class="btn btn-danger", ng-click="removeFile(test)")
         i(class="glyphicon glyphicon-trash")
        button(class="btn btn-default", ng-click="remove(test)")
         i(class="glyphicon glyphicon-remove")
    div(class="col-xs-8")
     h4="Global Stats"
     p(ng-show="shownTests.length<=0")="Click on the + of the list of tests that have been runned"
     div(class="col-xs-6")
      canvas(id="bar", class="chart chart-bar", chart-data="latency.data", chart-labels="latency.labels", chart-series="latency.series")
     div(class="col-xs-6")
      canvas(id="radar", class="chart chart-radar", chart-data="latency.data", chart-options="options", chart-labels="latency.labels")
     table(class="table  table-striped", ng-if="shownTests.length")
      tr
       th="Test"
       th="Arrival Date"
       th="Duration"
       th="Max"
       th="Median"
       th="Min"
       th="p95"
       th="p99"
       th="Created at"
      tr(ng-repeat="(key, value) in stats")
       td {{key}}
       td {{value.arrivalDate}}
       td {{value.duration}}
       td {{value.max}}
       td {{value.median}}
       td {{value.min}}
       td {{value.p95}}
       td {{value.p99}}
       td {{value.createdAt|date:'medium'}}